body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    //background-repeat: no-repeat;
    
  }
  
  .container {
    text-align: center;
  }
  
  .child {
      display: inline-block;
  }